[user]
    name = Joe Rivera
    email = rivera.d.joseph@gmail.com
    signingkey = F16D7319FB2349B2

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[push]
    default = matching

[core]
    editor = vim
    pager = less -R
	excludesfile = /home/jrivera/.gitignore_global

[alias]
    diverges = !bash -c 'diff -u <(git rev-list --first-parent "${1}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    glog = log --graph --color --pretty
    lg = log -p
    up = !sh -c 'git pull --rebase --prune && git log --pretty=format:\"%Cred%ae %Creset- %C(yellow)%s %Creset(%ar)\" HEAD@{1}..'
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files

[hub]
	protocol = ssh

[url "git@github.com:"]
    insteadOf = https://github.com/

[merge]
	tool = vimdiff
	conflictstyle = diff3

[mergetool]
	prompt = false

[commit]
	gpgsign = true
[pull]
	ff = only
